*{
    margin: 0;
    padding: 0;
    /* background-color: ; */
}
.li{
    list-style-type: none;

}
*{
    text-decoration: none;
}
.body{
    font-family:sans-serif ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(189, 119, 27); */

}

